<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Farmacia La Esperanza</title>
</head>
<body>

    <header>


    </header>

    <main>


    </main>

    <footer>

        <section aria-label="Farmacia La Esperanza">

            <a href="index.html">
                <img src="" alt="Logo de Farmacia La Esperanza">
            </a>
            <p>Farmacia La Esperanza</p>

        </section>

        <nav class="pie-navegacion">
            <h2 id="titulo-pie-navegacion">Navegacion</h2>

            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="categorias.html">Categorias</a></li>
                <li><a href="ofertas.html">Ofertas</a></li>
                <li><a href="sobre-nosotros.html">Sobre nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>

        </nav>


    </footer>
    
</body>
</html>