<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Farmacia La Esperanza</title>
</head>
<body>

    <header>


    </header>

    <main>


    </main>

    <footer>

        <section aria-label="Farmacia La Esperanza">

            <a href="index.html">
                <img src="" alt="Logo de Farmacia La Esperanza">
            </a>
            <p>Farmacia La Esperanza</p>

        </section>

        <nav class="pie-navegacion">
            <h2 id="titulo-pie-navegacion">Navegacion</h2>

            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="categorias.html">Categorias</a></li>
                <li><a href="ofertas.html">Ofertas</a></li>
                <li><a href="sobre-nosotros.html">Sobre nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>

        </nav>

        <section class="pie-contacto">

            <h2 id="titulo-pie-navegacion">Contacto</h2>
            <address>
                <p><strong>Telefono:</strong> <a href="+18291235467"></a>829-123-5467</p>
                <p><strong>Email:</strong> <a href="mailto:farmaciaesperanza@gmail.com">farmaciaesperanza@gmail.com</a></p>
            </address>

        </section>

        <section class="pie-redes">

            <h2 id="titulo-pie-pagina">Redes Sociales</h2>

            <ul>
                <li>
                    <a href="https://www.facebook.com/">
                        <img src="" alt="facebook">
                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com/">
                        <img src="" alt="instagram">
                    </a>
                </li>

                <li>
                    <a href="https://twitter.com/">
                        <img src="" alt="twitter">
                    </a>
                </li>
            </ul>

        </section>

        <small>Copyright 2026 Farmacia La Esperanza. Todos los derechos reservados. República Dominicana</small>

    </footer>
    
</body>
</html>