<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia La Esperanza | Login</title>
</head>
<body>

    <header>

        <a href="index.html" aria-label="Farmacia La Esperanza, volver al inicio">
            <img src="" alt="Logo Farmacia La Esperanza">
        </a>
        <h1 class="titulo-farmacia">Farmacia La Esperanza</h1>

    </header>

    <main>


    </main>

    <footer>


    </footer>
    
</body>
</html>