<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Farmacia La Esperanza</title>
</head>
<body>

    <!-- INICIO HEADER -->

    <header>

        <a href="index.html" aria-label="Farmacia La Esperanza, volver al inicio">
            <img src="" alt="Logo Farmacia La Esperanza">
        </a>
        <h1 class="titulo-farmacia">Farmacia La Esperanza</h1>

    </header>

    <!-- FIN HEADER -->

    <!-- INICIO MAIN -->

    <main>

        

        <section class="registro">

            <!-- INICIO FORMULARIO REGISTRO -->

            <form action="/registro" method="post">

                <div class="registro-nombre">

                    <label for="nombre">Nombre completo</label>
                    <input type="text" id="nombre" placeholder="Ej. Ron Damon" required>

                </div>

                <div class="registro-correo-electronico">

                    <label for="correo">Correo electronico</label>
                    <input type="email" id="correo" placeholder="ejemplo@gmail.com" required>
                    
                </div>

                <div class="registro-telefono">

                    <label for="telefono">Telefono</label>
                    <input type="tel" id="telefono" placeholder="123-456-7890" required>
                    
                </div>

                <div class="registro-terminos">

                    <input type="checkbox" id="termionos" name="terminos" required>
                    <label for="checkbox">

                        Acepto los <a href="#">Términos y Condiciones</a> y la <a href="#">Política de Privacidad</a>

                    </label>
                    
                </div>

                <button type="submit">Crear cuenta</button>

            </form>

            <!-- FIN FORMULARIO REGISTRO -->

            <!-- INICIO REGISTRO CON REDES -->

            <section class="redes-registro">

                <h2 id="redes-registro">O registrarte con</h2>

                <ul>

                    <li>
                        <button type="submit">
                            <img src="" alt="icono google">
                            Continuar con Google
                        </button>
                    </li>

                    <li>
                        <button type="submit">
                            <img src="" alt="icono facebook">
                            Continuar con Facebook
                        </button>
                    </li>

                    <li>
                        <button type="submit">
                            <img src="" alt="icono apple">
                            Continuar con Apple
                        </button>
                    </li>

                </ul>

            </section>

            <!-- FIN REGISTRO CON REDES -->

            <p>¿Ya tienes cuenta? <a href="login.html">Iniciar sesión</a></a></p>
            
        </section>

    </main>

    <!-- FIN MAIN -->

    <!-- INICIO FOOTER -->

    <footer>

        
    </footer>

    <!-- FIN FOOTER -->
    
</body>
</html>