<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia La Esperanza | Carrito</title>
</head>
<body>

    <header>

         <button type="button" aria-label="Volver">

            <img src="" alt="">

        </button>
        <button type="button">

            <img src="" alt="Mi cuenta">

        </button>

    </header>

    <main>

        <section id="monto-total">

            <h1 id="titulo-monto">Monto Total</h1>
            <img src="" alt="Carrito de compras">
            <p>
                <data value="200.00">$200.00</data>
            </p>
            <button type="submit">Pedir</button>
            <button type="button">Cancelar</button>

        </section>

        <section id="Agregar-producto-al-carrito">

            <form role="search">

                <label for="agregar-producto">¿Qué más deseas llevar?</label>
                <input type="search" id="agregar-producto" name="agregar-producto" placeholder="¿Qué más deseas llevar?">

                <button type="submit">
                <img src="" alt="Buscar">
                </button>

            </form>
            <button type="button" aria-label="Agregar producto">+</button>

        </section>


    </main>

    <footer>


    </footer>
    
</body>
</html>