<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia La Esperanza | Chat</title>
</head>
<body>

    <header>

        <img src="" alt="Logo Farmacia La Esperanza">

        <form role="search">
            <label for="buscar">Buscar:</label>
            <input type="search" id="buscar" name="buscar" placeholder="¿Qué necesitas hoy?">
            <button type="submit">
                <img src="" alt="Buscar">
            </button>
        </form>

        <button type="button">
            <img src="" alt="Filtros">
        </button>
        <button type="button">
            <img src="" alt="Mi cuenta">
        </button>

    </header>

    <main>
        
        <section id="chat-con-farmaceutico">

            <img src="" alt="Farmacéutico">
            <h1>Estamos aqui para ti</h1>
            <p>Déjanos saber tu consulta. Nuestros farmacéuticos quieren ayudarte.</p>

        </section>

        <form>

            <label for="mensaje">Escribe tu mensaje</label>
            <input type="text" id="mensaje" name="mensaje" placeholder="Habla con nosotros...">
            <button type="submit" aria-label="Enviar mensaje">

                <img src="" alt="icono-enviar">

            </button>

        </form>




    </main>

    <footer>


    </footer>
    
</body>
</html>