<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia La Esperanza | Inicio</title>
</head>
<body>

    <header>

        <img src="" alt="Logo Farmacia La Esperanza">

        <form role="search">
            <label for="buscar">Buscar:</label>
            <input type="search" id="buscar" name="buscar" placeholder="¿Qué necesitas hoy?">
            <button type="submit">
                <img src="" alt="Buscar">
            </button>
        </form>

        <button type="button">
            <img src="" alt="Filtros">
        </button>
        <button type="button">
            <img src="" alt="Mi cuenta">
        </button>

    </header>

    <main>


    </main>

    <footer>


    </footer>
    
</body>
</html>