<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia La Esperanza | Inicio</title>
    <link rel="stylesheet" href="../../public/global.css">
    
</head>
<body>

    <header>

        <img src="" alt="Logo Farmacia La Esperanza">

        <form role="search">
            <label for="buscar"></label>
            <input type="search" id="buscar" name="buscar" placeholder="¿Qué necesitas hoy?">
            <button type="submit">
                <img src="" alt="Buscar">
            </button>
        </form>

        <button type="button">
            <img src="" alt="Filtros">
        </button>
        <button type="button">
            <img src="" alt="Mi cuenta">
        </button>

    </header>

    <main>

        <section id="chat-farmaceutico">

            <img src="" alt="Farmacéutico">
            <h1>Hablar con un farmaceutico</h1>
            <p>¿Tienes alguna duda sobre tus medicamentos? Consulta con nuestros expertos ahora</p>

            <button type="button">Iniciar Chat</button>
        </section>

        <nav id="menu-categorias">

            <ul>
                <li><a href="#categorias">Categorias</a></li>
                <li><a href="#catalogo">Catalogo</a></li>
                <li><a href="#ofertas">Ofertas</a></li>
            </ul>

        </nav>

        <section id="articulos-populares">

            <h2>Populares</h2>

            <article>

                <img src="" alt="Ibuprofeno 400mg">
                <h3>Ibuprofeno 400mg</h3>
                <p>Caja con 15 tabletas</p>
                <p>
                <data value="100.00">$100.00</data>
                </p>
                <button type="button" aria-label="Agregar Ibuprofeno 400mg al carrito">+</button>

            </article>

            <article>

                <img src="" alt="Paracetamol 400mg">
                <h3>Paracetamol 400mg</h3>
                <p>Frasco con 20 pastillas</p>
                <p>
                <data value="100.00">$100.00</data>
                </p>
                <button type="button" aria-label="Agregar Paracetamol 400mg al carrito">+</button>

            </article>

        </section>

    </main>

    <footer>

        <nav aria-label="Navegación principal">
            <ul>
                <li>
                    <a href="#inicio">
                        <img src="" alt="icono de inicio">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="#medicinas">
                        <img src="" alt="icono de medicinas">
                        Medicinas
                    </a>
                </li>
                <li>
                    <a href="#pedidos">
                        <img src="" alt="icono de pedidos">
                        Pedidos
                    </a>
                </li>
                <li>
                    <a href="#escanear">
                        <img src="" alt="icono de escaneo">
                        Escanear
                    </a>
                </li>
            </ul>
        </nav>


    </footer>
    
</body>
</html>