<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>

        <h1>Login</h1>

    </header>

    <main>

        <section id="login">

            <img src="" alt="Logo Farmacia La Esperanza">
            <h2>FARMACIA LA ESPERANZA</h2>

        </section>

        <form>

            <fieldset>

                <legend>Iniciar sesion</legend>

                <label for="correo">Correo Electronico</label>
                <input type="email" id="correo" name="correo" placeholder="ejemplo@gmail.com" required>

                <label for="contrasena">Contrasena</label>
                <input type="password" id="contrasena" name="contrasena" placeholder="" required>
                <button type="button" aria-label="Mostrar contraseña">
                <img src="" alt="icono mostrar contraseña">
                </button>

                <p><a href="#recuperar-contrasena">¿Olvidaste tu contraseña?</a></p>

                <button type="submit">Entrar</button>

            </fieldset>

        </form>




    </main>

    <footer>


    </footer>
    
</body>
</html>