<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia La Esperanza | Registro</title>
</head>
<body>

    <header>
        <h1>Registro</h1>
    </header>

    <main>

        <section id="registro">

            <img src="" alt="Logo Farmacia La Esperanza">
            <h2>FARMACIA LA ESPERANZA</h2>
            <p>Cree su cuenta para continuar</p>

        </section>

        <form>
            <fieldset>

                <legend>Crear cuenta</legend>

                <label for="nombre-completo">Nombre Completo</label>
                <input type="text" id="nombre-completo" name="nombre-completo" placeholder="Ej. Pablito Clavito" required>

                <label for="correo-registro">Correo Electronico</label>
                <input type="email" id="correo-registro" name="correo-registro" placeholder="ejemplo@gmail.com" required>

                <label for="telefono">Telefono</label>
                <input type="tel" id="telefono" name="telefono" placeholder="123 456 7890" required>

                <label for="contrasena-registro">Contrasena</label>
                <input type="password" id="contrasena-registro" name="contrasena-registro" placeholder="" required>
                <button type="button" aria-label="Mostrar contraseña">
                <img src="" alt="mostrar contraseña">
                </button>

                <input type="checkbox" id="terminos" name="terminos" required>
                <label for="terminos">Acepto los Terminos y Condiciones y la Politica de Privacidad</label>

                <button type="submit">Crear cuenta</button>

            </fieldset>

        </form>




    </main>
    
</body>
</html>